---
- name: Retrieve access data
  set_fact:
    user: "{{ secret_values[backup.login.db_user] }}"
    password: "{{ secret_values[backup.login.db_password] }}"
    host: "{{ backup.login.db_host }}"
    port: "{{ backup.login.db_port }}"

- name: Create MySQL Backup service
  include_tasks: tasks/register-service/_register-service.yml
  vars:
    service:
      name: "backup-mysql-{{ backup.name }}"
      autostart: true
      service:
        environment: ''
        type: idle
        restart: 'no'
        user: root
        execStart: "/usr/bin/mysql-backup.sh {{ backup.tunnel }} {{ user }} '{{ password }}' 127.0.0.1 3306 {{ backup.target }}"
      install:
        wantedBy: multi-user.target
      unit:
        after: 'network.target network-online.target'
        wants: 'network-online.target'
        description: Backup MySQL databases from {{ backup.name }}
        startLimitIntervalSec: 0