---
- name: Retrieve access data
  set_fact:
  # ToDo: migrate to 1Passworduser: "{{ lookup('community.general.onepassword', relationship.item, field='username', vault=relationship.vault) }}"
    user: "{{ lookup('community.general.onepassword', backup.login.item, field='username', vault=backup.login.vault) }}"
    password: "{{ lookup('community.general.onepassword', backup.login.item, field='password', vault=backup.login.vault) }}"
    host: "{{lookup('community.general.onepassword', backup.login.item, field='hostname', vault=backup.login.vault) }}"
    port: "{{lookup('community.general.onepassword', backup.login.item, field='Port', vault=backup.login.vault) }}"

- name: Create MySQL Backup service
  include_tasks: tasks/register-service/_register-service.yml
  vars:
    service:
      name: "backup-mysql-{{ backup.name }}"
      autostart: true
      service:
        environment: ''
        type: idle
        restart: 'no'
        user: root
        execStart: "/usr/bin/mysql-backup.sh {{ backup.tunnel }} {{ user }} {{ password }} {{ host }} {{ port }}"
      install:
        wantedBy: multi-user.target
      unit:
        after: 'network.target network-online.target'
        wants: 'network-online.target'
        description: Backup MySQL databases from {{ backup.name }}
        startLimitIntervalSec: 0