- name: Retrieve access data
  set_fact:
    user: "{{ secret_values[backup.source.user] }}"
    password: "{{ secret_values[backup.source.password] }}"
    host: "{{ secret_values[backup.source.host] }}"

- name: Create backup target directory
  file:
    path: "{{ backup.target }}"
    state: directory

- name: Register backup job
  set_fact:
    new_backup_jobs:
      - command: rsync --bwlimit=2560 --delete-before -avh {{backup.extraArgs}} --log-file=/backups/logs/{{ backup.name }}.log --include='**.backupignore' --exclude='/.git' --filter=':- .backupignore' {{ user }}@{{ host }}:{{ backup.remoteDirectory }} {{ backup.target }}
        description: "Storage backup {{ backup.name }}"
        name: "{{ backup.name }}"

- name: Save jobs
  set_fact:
    backup_jobs: "{{ backup_jobs + new_backup_jobs }}"
