[Unit]
Description={{ backup.description }}
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="IS_SYSTEMD=1"
Type=simple
Restart=no
User=root
ExecStart=/backups/bin/{{ backup.name }}.sh

[Install]
WantedBy=multi-user.target