- name: Resolve entries from 1Password
  delegate_to: localhost
  become: false
  ansible.builtin.command:
    cmd: sh -c "op item list --vault {{config.secret_vault}} --format=json | op item get - --format=json --reveal"
  register: vault_list_json

- name: Fix JSON
  set_fact:
    fixed_vault_list_json: "[{{ vault_list_json.stdout | regex_replace('\\}\n\\{', '},\n{') }}]"

- name: Load vault list
  set_fact:
    vault_list: "{{ fixed_vault_list_json }}"

- name: "Set secret value dictionary"
  set_fact:
    secret_values: |
      {{ secret_values|default({}) | combine( {item.key: fixed_vault_list_json | json_query("[?id=='" + item.value.item + "'].fields | [] | [?label == '" + item.value.field + "'].value | [0]") } ) }}
  with_items: "{{ lookup('dict', secrets, wantlist=True) }}"

- name: "Debug secret values"
  debug:
    var: secret_values