---
- name: Retrieve access data
  set_fact:
    user: "{{ secret_values[tunnel.target.user] }}"
    password: "{{  secret_values[tunnel.target.password] }}"
    host: "{{ secret_values[tunnel.target.host] }}"

- name: Initialize final port mapping list
  set_fact:
    port_mapping_list: []

- name: Fill port mappings
  set_fact:
    port_mapping_list: "{{ port_mapping_list + [ '-L 0.0.0.0:' + mapping.localPort + ':' + secret_values[mapping.destinationIp] + ':' + secret_values[mapping.destinationPort] ] }}"
  loop: "{{ tunnel.mappings }}"
  loop_control:
    loop_var: mapping

- name: Concatenate the mappings
  set_fact:
    port_mappings: "{{ port_mapping_list | join(' ') }}"

- name: Create MySQL SSH Tunnel Service
  include_tasks: tasks/register-service/_register-service.yml
  vars:
    service:
      name: "ssh-tunnel-{{ tunnel.targetName }}"
      autostart: false
      service:
        environment: ''
        type: idle
        restart: 'no'
        user: root
        execStart: "/usr/bin/ssh -NTC -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes {{ port_mappings }} {{ user }}@{{ host }}"
      install:
        wantedBy: multi-user.target
      unit:
        after: 'network.target network-online.target'
        wants: 'network-online.target'
        description: Persistent SSH Tunnel
        startLimitIntervalSec: 0
